@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-home"></i>
                <span>
                    <strong>Home</strong>
                </span>
            </a>
            @if (User.IsInRole("Admin"))
            {
                <a class="navbar-brand" href="@Url.Action("Index", "Admin")">
                    <i class="glyphicon glyphicon-wrench"></i>
                    <span>
                        <strong>Admin</strong>
                    </span>
                </a>
            }
        </div>
  
}
else
{

}
